$white: #fff;
$aquamarine: #92DCE5;
$bright-red: #EF6461;
$black: #000;
$isabelline: #ececec;
$light-gray: #d1d1d1;
$description-gray:#9CA8A2;

$raleway: 'Raleway', sans-serif;


$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;